# Secrets and environment variables
.env
nginx/ssl/
.tokens

# Python and Django
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal

# Logs
*.log
logs/

# Debugging
spotify_rate_limit_tester.py

# Token management
token_getter.py
token_refresher.py

# Playlist viewer
playlist_viewer.py

# Static files
staticfiles/