# Secrets and environment variables
.env
nginx/ssl/
.tokens

# Python and Django
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal

# Logs
*.log
logs/

# Debugging
temp_spotify_search.py
spotify_rate_limit_tester.py