# Secrets and environment variables
.env
nginx/ssl/
.tokens

# Python and Django
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal

# Logs
*.log
logs/

# Debugging
spotify_rate_limit_tester.py

# Token management
token_getter.py
token_refresher.py

# Playlist viewer
playlist_viewer.py