@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular-subset.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium-subset.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold-subset.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira-Medium-subset.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}