<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Euphonic Intelligence</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotify_auth/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'spotify_auth/css/pre_chat.css' %}">
</head>
<body>
    <div class="container">
        <div class="header-row">
            <h1>Euphonic Intelligence</h1>
            <div class="tooltip-container">
                <a href="{% url 'logout' %}" class="button">Disconnect</a>
                <span class="custom-tooltip">Purges your data with Euphonic Intelligence and revokes your OAuth authorization with Spotify</span>
            </div>
        </div>
        <div class="options-container">
            <a href="{% url 'chat' %}" class="option-button" data-mode="">Create Playlist of New Songs</a>
            <a href="{% url 'chat' %}" class="option-button" data-mode="">Create Playlist Using My Songs</a>
            <a href="{% url 'chat' %}" class="option-button" data-mode="">Analyze My Music</a>
        </div>
    </div>
    <div class="spotify-footer">
        <p>Powered by <a href="https://www.spotify.com" target="_blank" rel="noopener">Spotify</a></p>
        <img src="{% static 'spotify_auth/images/Full_Logo_Green_RGB.svg' %}" alt="Spotify Logo" class="spotify-logo">
    </div>
    <script src="{% static 'spotify_auth/js/pre_chat.js' %}"></script>
</body>
</html>